### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Node modules
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.*

# OS / Editor
.DS_Store
.vscode/
.idea/
